@import './ui-variables.scss';


.side-nav {
  padding-right: 20px;
  border-right: none;
  height: calc(100vh - 200px); // 100px = top with position fixed

  .el-menu-item.el-menu-item.is-active {
    background: $--color-primary;
    box-shadow: 0px 10px 18px -6px #189bfe85;
  }
}

.body {
  padding: 40px 0;

  .el-main {
    padding: 0;
  }
}

.el-container {
  width: 100%;
}

@media screen and (max-width: 2560px) {

  .el-container .body,
  .header-container {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 1920px) {

  .el-container .body,
  .header-container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
}

.header-item .el-icon {
  position: relative !important;
  top: 2px;
}

.el-menu-item {
  border-radius: 8px;
}

.el-menu-item.is-active {
  color: var(--el-menu-active-color);
  background: var(--el-menu-active-color);
  box-shadow: 0 10px 18px -6px rgba(24, 155, 254, .5215686274509804);
}

.heard-breadcrumb {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 6px;
}